/* Nav Styling */
* {
    font-family: monospace;
    font-size: 1em;
    text-align: center;
    margin: 0;
}
.banner {
    padding: 1em 1em 0.25em 1em;
    font-size: 1.75em;
    color: #fff;
    text-align: start;
    position: relative;
    margin-bottom: 1.25em;
}
.banner label {
    margin-left: 1.5em;
}
.banner img {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    right: 1em;
    position: absolute;
}
nav {
    background: linear-gradient(90deg, #000,rgb(186,0,218));
    border: 3px solid #fff;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    border-radius: 0.5em 0.5em 0 0;
}
.navSection {
    margin: auto;
    color: #fff;
    bottom: 0;
    position: fixed;
    width: 100%;
}
nav ul {
    display: flex;
    padding: 0;
}
nav ul a{
    text-decoration: none;
    color: #fff;
    list-style: none;
    background: linear-gradient(-30deg, rgb(255, 46, 168), rgb(147, 17, 132));
    padding: 0.5em;
    border-radius: 1.5em;
    margin: 0 1.5em;
    width: 1.5em;
    height: 1.5em;
}
.active {
    background-color: #fff;
    color: linear-gradient(90deg, #000,rgb(186,0,218));
}