/*Profile*/
* {
    font-family: monospace;
    font-size: 1em;
    text-align: center;
    margin: 0.5em;
}
body {
    background: linear-gradient(-90deg, rgb(186, 0, 218), rgb(0, 0, 0));
}
article{
    color: #fff;
    padding: 1em;
    background-color: transparent;
    border-radius: 0.5em;
    border: 3px solid #fff;
    display: flex;
    flex-direction: column;
}
aside {
    color: #fff;
    padding: 0.5em;
}
ul {
    padding: 0.5em;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
section {
    margin: 0.5em;
}
li {
    text-decoration: none;
    list-style: none;
    color: #fff;
    margin-bottom: 0.5em;
}
.drinkList li {
    width: 13em;
    margin-right: 1em;
    border-radius: 1em;
    background: linear-gradient(-30deg, rgb(255, 46, 168), rgb(147, 17, 132));
}
article label {
    padding: 0.5em;
    border-bottom: 3px solid #fff;
    position: relative;
}
#rank {
    font-size: 0.5em;
    left: 12em;
    position: absolute;
}
.bannerAllign {
    display: block;
    text-align: start;
}